@-moz-viewport { width: device-width: scale: 1;}
@-ms-viewport { width: device-width: scale: 1;}
@-o-viewport { width: device-width: scale: 1;}
@-webkit-viewport { width: device-width: scale: 1;}
@-moz-viewport { width: device-width: scale: 1;}

html{
  box-sizing: border-box;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  text-size-adjust:100%;
}

*,*::before, *::after{
  box-sizing: inherit:
}

body{
  background-color: #B0B0B0;
}

h1{
  color: white;

}

h2{
  color: white;
}

img{
  width: 100%;
}

p{
  text-indent: 50px;
}

.icon img{
  width: 23%;
  display: inline-block;
}


@media only screen and (min-width: 35em) {
/* divide pixels by 16 to get em's */

body{
}

h1{
  color: white;
}

img{
  width: 50%;
}



}

@media only screen and (min-width: 800px) {


  body{

  }

img{
  width: 100%;
}

}
